@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=Rubik+Doodle+Shadow&display=swap');


.navbar
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    font-family: 'Poppins', sans-serif !important;
}
.search-button
{
    width: 30px !important;
    margin-right: 200px !important;
}

#searchbox
{
    width: 100px;
    border-radius: 15px;
    background-color: #1b1b1b !important;
    outline: none;
    border: 1px solid black;
    font-size: small;
}

.nav-item a
{
    font-size: 14px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 35px;
    left: -140px;
    border-radius: 10px;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid black;
  }
  
  .dropdown-content a {
    font-size: x-small;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropbtn{
    background-color: transparent;
    outline: none;
    border: none;
  }
  
.arrow
{
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
}

.profileimage
{
    background-color: blue;
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.outerNavbarProfile
{
    
    display: flex;
    align-items: center;
    padding-left: 17px;
    margin-top: 20px;
    cursor: pointer;
}

.profileDiv
{
    margin-bottom: 10px;
}

#profile1
{
    background-image: url('../common/assets/profile1.png');
    background-size: cover;
}

#profile2
{
    background-image: url('../common/assets/profile2.png');
    background-size: cover;
}

#profile3
{
    background-image: url('../common/assets/profile3.png');
    background-size: cover;
}

#profile4
{
    background-image: url('../common/assets/profile4.png');
    background-size: cover;
}

#profile5
{
    background-image: url('../common/assets/profile5.png');
    background-size: cover;
}

.outerNavbarProfile p
{
    margin: 0 !important;
    padding: 0 !important;
}

.profileAnchor
{
    margin: 0 !important;
    padding: 0 !important;
}

.Navbarprofileicon
{
    height: 20px;
    width: 20px;
    background-color: grey;
}
