body{
    margin: 0;
}
#logo{
    width:170px;
    height: 40px;
    margin-left: 30px;
    margin-top: 25px;
}
#signin{
    margin-right: 70px;
    margin-top: 30px;
    font-size: 20px;
    float:right

    
}
#signin:hover{
    text-decoration: underline;
}
.bar{
    margin-top: 20px;
    height: 0.003rem;
    background-color: rgb(208, 206, 204);
}
.mainbody{
    height:400px;
    width:500px;
   
    margin-top: 40px;
    margin-left: 290px;
}
#step{
    margin-left: 90px;
}
.innercard
{
    min-height: 150px;
    min-width: 260px;
    margin-right: 8px;
    display: inline-block;
    border-radius: 5px;
}
#cpasstxt{
    margin-left: 90px;
}
#usertxt{
    margin-left: 90px;
}
#form{
    margin-left: 90px;
}
#form input{
    padding: 12px;
}
a{
    cursor: pointer;
}

button {
    cursor: pointer;
}


#password{
    margin-top: 20px;
    width: 320px;
    border-radius: 5px;
    
    border: 1px solid;
    
}

#email{
    width: 320px;
    border-radius: 5px;
    border: 1px solid;

}
#next{
    margin-top: 20px;
    width: 350px;
    height:49px;
    background: #e50914;
    border: none;
    border-radius: 5px;
}