*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
 
body{
    background: rgba(0, 0, 0, 0.5) url('../assets/background.jpg');
    background-blend-mode: darken;
}
 
.logo img{
    width: 12%;
    margin-left: 30px;
}
 
.container{
    position: absolute;
    margin-left: 36%;
    margin-top: 1%;
    width: 440px;
    height: 590px;
    background-color: #00000097;
    border-radius: 5px;
}
img{
    width: 75px;
    height :55px;
    margin-top: 7px;
 
}
.container h1{
    color: #fff;
    margin-top: 60px;
    margin-left: 50px;
}
 
input{
    margin-left: 50px;
    margin-top: 20px;
    width: 320px;
    height: 47px;
    background-color: #333;
    border-radius: 3px;
    border: none;
    font-size: 20px;
}
 
input::placeholder{
    font-size: 17px;
    margin-left: 15px;
    padding: 12px;
}
input[type="email"]
{
    color: white;
    font-size: medium;
}
input[type="password"]
{
    color: white;
    font-size: medium;
}
input[type="email"]:not(:placeholder-shown),
input[type="password"]:not(:placeholder-shown) {
  padding-left: 18px; /* Adjusted padding for entered text */
  box-sizing: border-box;
}
input[type=submit]{
    width: 320px;
    height: 45px;
    background-color: red;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 40px;
}
 
input[type=checkbox]{
    width: 25px;
    height: 18px;
    border-radius: 5px;
}
.input-container {
    position: relative;
    margin-bottom: 20px;
  }
  .placeholder-label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    pointer-events: none;
    transition: transform 0.3s ease-out;
  }
label{
    color: rgb(125, 119, 119);
    font-family:sans-serif;
}
 
.form a{
    float: right;
    margin-top: 24px;
    margin-right: 64px;
    color: rgb(125, 119, 119);
    text-decoration: none;
    font-family:sans-serif;
}
img{
    width: 75px;
    height :55px;
    margin-top: 7px;
   }
.content{
    position: absolute;
    margin-top: 80px;
    font-size: 9px;
    margin-left: 55px;
    font-family:sans-serif;
 
}
 
.content h2{
    color: rgb(125, 119, 119);
    font-family:sans-serif;
}
 
.container a{
    color: #fff;
    text-decoration: none;
}
.footer
{
    margin-top: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
 
.innerfooter
{
    width: 70%;
}
 
.socialicons
{
    margin-top: 40px;
    color: white;
}
 
.socialicons i
{
    font-size: large;
    margin-right: 20px;
}
 
.mainlinks
{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
 
.innerlinks
{
    display: flex;
    flex-direction: column;
}
 
.innerlinks a{
    margin-bottom: 10px;
    color: grey;
    text-decoration: none;
    font-size: smaller;
}
 
.servicebutton
{
    padding: 6px 10px;
    border: 1px solid grey;
    color: grey;
    background-color: #141414;
    margin-top: 30px;
}
 
.lastp
{
    margin-bottom: 10px;
    margin-top: 20px;
    color: #686a73;
    font-size: x-small;
}
 
@media (max-width: 768px) {
    .container {
        width: 80%;
        margin-left: 10%;
    }
 
    input,
    input::placeholder,
    input[type="email"]:not(:placeholder-shown),
    input[type="password"]:not(:placeholder-shown),
    input[type=submit],
    input[type=checkbox],
    .form a,
    .content,
    .lastp {
        width: 100%;
        margin-left: 0;
    }
}