.body {
  background-image: url(./assets/bg.jpg);
  background-color: black;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  height: 68px;
  align-items: center;
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1001;
}
.navbar .search {
  color: white;
}
.navbar .innernavbar {
  width: 90%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-left: 0px;
}
.navbar .innernavbar .firstinnernavbar {
  display: flex;
  align-items: center;
}
.navbar .innernavbar .nav-items {
  margin-bottom: 5px;
  margin-left: 50px;
}
.navbar .innernavbar .secondinnernavbar {
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: space-between;
  margin-left: 950px;
}

.content {
  background-image: url(../assests/wp6751611.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  top: 0;
  left: 0;
  right: 0;
}
.content .header {
  display: flex;
  color: black;
}
.content .header .account {
  flex: 1;
}
.content .header .membership {
  flex: 7;
  padding-top: 20px;
  color: #555555;
  display: flex;
  transform: translateY(-25%);
}
.content .header .membership svg {
  transform: translateY(20%);
  color: red;
}

.hr {
  width: 100%;
}

.change-credentials {
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  height: 200px;
  padding: 150px;
  padding-top: 50px;
  border-radius: 6px;
}

.email {
  display: flex;
}
.email form {
  flex: 7;
}
.email button {
  background-color: slategray;
  transform: translateY(120%);
  border-radius: 6px;
  color: white;
  flex: 1;
  height: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.password {
  display: flex;
}
.password form {
  flex: 7;
}
.password button {
  background-color: slategray;
  transform: translateY(120%);
  border-radius: 6px;
  color: white;
  flex: 1;
  height: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.change-credentials input {
  border: none;
  width: 50%;
  height: 50px;
  font-size: larger;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding-left: 20px;
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .innerfooter {
  width: 70%;
}

.socialicons {
  margin-top: 40px;
  color: white;
}
.socialicons i {
  font-size: large;
  margin-right: 20px;
}

.mainlinks {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.mainlinks .innerlinks {
  display: flex;
  flex-direction: column;
}
.mainlinks .innerlinks a {
  margin-bottom: 10px;
  color: grey;
  text-decoration: none;
  font-size: smaller;
}

.servicebutton {
  padding: 6px 10px;
  border: 1px solid grey;
  color: grey;
  background-color: #141414;
  margin-top: 30px;
}

.lastp {
  margin-bottom: 10px;
  margin-top: 20px;
  color: #686a73;
  font-size: x-small;
}/*# sourceMappingURL=accounts.css.map */